<app-layout>
    <div class="main">
        <section class="page-banner d-grid place-items-center d-none">
            <h1 class="display-3 text-center">About Vanavihari</h1>
        </section>
        <section class="booking-status my-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-6 mx-auto text-center">
                        <h2 class="mb-3">Booking Confirmation</h2>
                        <h1 class="display-4 mb-4">Congratulations, Your booking is successful!</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-3"><strong>Resort:</strong> Jungle Star, Valamuru</h3>
                            <img src="assets/img/Jungle_Star-reception.jpg" alt="Resort Name" class="img-fluid rounded-3">
                        </div>
                        <div class="col-md-6 text-center">
                            <div class=" my-3">
                                <p><strong>Booking ID:</strong> BJ2404971</p>
                                <p><strong>Check-in:</strong> 2024-04-22</p>
                                <p><strong>Check-out:</strong> 2024-04-24</p>
                                <p><strong>Duration of Stay:</strong></p>
                                <p><strong>Room Type:</strong></p>
                                <p><strong>Cottage Type:</strong></p>
                                <p><strong>Total Guests:</strong></p>
                                <p><strong>Number of Children:</strong></p>
                            </div>
                            <div class=" mb-4">
                                <p>If you have any inquiries about your stay or need information on nearby attractions,
                                    please feel free to contact:</p>
                                <p><strong>Mr. Veerababu</strong></p>
                                <p><i class="fas fa-phone-alt"></i> Mobile: +919494151617</p>
                                <p><i class="fas fa-envelope"></i> Email: info@vanavihari.com</p>
                            </div>
                            <p class="">Your invoice and booking details have been sent to your email at
                                <strong>guest@gmail.com</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</app-layout>