<app-layout>
    <div class="main d-flex justify-content-center">
       <div class="container">
        <div class="table-responsive" >
            <table class="table table-striped">
              <thead>
                <tr class="bg-success text-white">
                  <th class="text-center">Day</th>
                  <th>Meal</th>
                  <th>Time</th>
                  <th>Items</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="3" class="fw-bold text-center">Day 1</td>
                  <td>Lunch</td>
                  <td>1:00 PM to 2:30 PM</td>
                  <td>Pulihora (Complimentary), White Rice, Veg. Curry, Egg curry, Dal, Veg. Fry, Sambar, Curd, Pickle, Papad, Sweet/Banana</td>
                </tr>
                <tr>
                  <td>Evening refreshments</td>
                  <td>5:00 PM to 5:30 PM</td>
                  <td>Onion Pakoda with Tea</td>
                </tr>
                <tr>
                  <td>Dinner</td>
                  <td>8:00 PM to 9:00 PM</td>
                  <td>Raita, Veg. Dum Biryani, Chicken Curry, Mixed Veg. Curry, White Rice, Curd, Rasam</td>
                </tr>
                <tr>
                  <td rowspan="2" class="fw-bold text-center">Day 2</td>
                  <td>Morning refreshments</td>
                  <td>6:30 AM at Canteen</td>
                  <td>Coffee</td>
                </tr>
                <tr>
                  <td>Breakfast</td>
                  <td>7:30 AM to 8:30 AM</td>
                  <td>Idly, Vada, Tea</td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
          
    </div>
</app-layout>