<app-layout>
  <div class="main">
    <section class="my-5 py-2">
      <div class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center"><img class="title-image my-5" src="assets/images/junglestar.jpeg" alt="junglestar logo"></div>
          <div class="col-md-8 mx-auto">
            <h3 class="text-center mb-4">Jungle Star tentative food menu</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="bg-primary fw-bold">
                    <th class="text-center">Day</th>
                    <th>Meal</th>
                    <th>Time</th>
                    <th>Items</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" class="align-middle text-center fw-bold">Day 1</td>
                    <td>Lunch</td>
                    <td>1:00 PM to 2:30 PM</td>
                    <td>Pulihora (Complimentary), White Rice, Veg. Curry, Dal, Veg. Fry, Sambar, Curd, Pickle, Papad,
                      Sweet/Banana</td>
                  </tr>
                  <tr>
                    <td>Evening refreshments</td>
                    <td>5:00 PM to 5:30 PM</td>
                    <td>Onion Pakoda with Tea</td>
                  </tr>
                  <tr>
                    <td>Dinner</td>
                    <td>8:00 PM to 9:00 PM</td>
                    <td>Raita, Veg. Dum Biryani, Chicken Curry, Mixed Veg. Curry, White Rice, Curd, Rasam</td>
                  </tr>
                  <tr>
                    <td rowspan="2" class="align-middle text-center fw-bold">Day 2</td>
                    <td>Morning refreshments</td>
                    <td>6:30 AM at Canteen</td>
                    <td>Coffee</td>
                  </tr>
                  <tr>
                    <td>Breakfast</td>
                    <td>7:30 AM to 8:30 AM</td>
                    <td>Idly, Vada, Tea</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</app-layout>