.table-responsive{
    margin-top: 150px;
    min-height: 60vh;
}

tr{
    th{
        color: #ffff;
        background-color: #198754;
    }
}

.title-image{
    height: 250px;
    width: auto;
    
}