@use "./src/scss/base/" as *;
$card-flex-basis: 35%;
#carouselExampleFade {
  .carousel-item {
    @media(min-width:768px){
      height: 70vh;
    }
    transition: all 3s ease-in-out;
    .carousel-overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      /* Or "contain" */
      height: 100dvh;
    }
    .carousel-caption {
      bottom: 5%;
      h1 {
        color: $clr-light !important;
      }
    }
    &.active {
      transform: scale(1.1);
      /* Zoom in on active slide */
    }
    &.prev,
    &.next {
      transform: scale(0.9);
      /* Shrink inactive slides */
    }
  }
}
.about {
  // background-color: $clr-primary-light;
  background: linear-gradient(to bottom right, #42b148, #e4cf57);
}
.resort-intro {
  .card {
    @media(min-width:768px) {
      flex-basis: $card-flex-basis;
    }
    min-height: 55dvh;
    // .card-body{
    // }
  }
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.gallery-image {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.gallery-image:hover {
  transform: scale(1.1);
}



// timer starts
.count-down-timer {
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: #4d9900;
  max-width: 400px;
  margin: 20px auto;
  color: #ffffff;
  border-radius: 6px;
  padding: 25px;
  font-family: sans-serif;

  > p {
    margin: 5px 0 15px 0;
    color: #ffffff;

  }

  .wrapper {
    p{

      color: #ffffff;
    }
    .description,
    .times {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-column-gap: 10px;
    }

    .description {
      > p {
        margin: 0;
        font: normal 14px sans-serif;
        color: #ffff;
      }
    }

    .times {
      p {
        letter-spacing: -5px;
        position: relative;
        margin: 0;
        color: #ffff;
        font: normal 40px courier, sans-serif;
        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          display: block;
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .count-down-timer {
    margin: 20px;
  }
}
// timer ends