.page-banner {
  background-image: url("/assets/img/amruthadhara.jpg");
}


.custom-card {
  width: 100%;
  max-width: 1200px;
  /* Set a maximum width for the card */
  margin: 0 auto;
  /* Center the card horizontally */
}