<!-- <p>tourist-places works!</p> -->
<app-layout>
  <div class="main">
    <section class="page-banner d-grid place-items-center">
      <h1 class="display-3">Nearby tourist attractions</h1>
    </section>
    <div class="container my-5">
      <div class="row ">
        <!-- <h2 class="text-center">NEARBY TOURIST ATTRACTIONS</h2> -->

        <div class="col-md-10 mx-auto">
          <div class="card mb-4 custom-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="assets/img/amruthadhara.jpg"
                  class="img-fluid rounded-start"
                  alt="Amruthadhara image"
                />
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Amruthadhara Falls</h5>
                  <p class="card-text">
                    Amruthadhara Falls is a seasonal waterfall located in the
                    East Godavari district of Andhra Pradesh, India. It is a
                    popular destination for nature lovers, especially during the
                    monsoon season when the falls are at their most spectacular.
                    The falls are formed by the confluence of two streams, the
                    Varaha and the Penna. They cascade down a series of rocky
                    cliffs, creating a mesmerizing sight. The falls are
                    surrounded by lush greenery, making for a truly picturesque
                    setting.
                  </p>
                </div>
              </div>

              <div class="col-md-4 mt-3 mt-md-0">
                <h2 class="mb-3 text-center">How to reach?</h2>
                <address>
                  <i class="fa-solid fa-location-dot"></i>
                  SH 41, Andhra Pradesh 533295
                </address>
                <div class="map-container">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3802.235179664225!2d81.60770107912109!3d17.639016940210375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3725d190325c67%3A0x48ed1479e1ced87b!2sAMRUTHADHARA%20WATER%20FALL!5e0!3m2!1sen!2sin!4v1712058804622!5m2!1sen!2sin"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">From</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Travel Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <i class="fa-solid fa-train me-2"></i>Vanavihari
                        </td>
                        <td>15 km</td>
                        <td>26 minutes</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa-solid fa-plane-arrival me-2"></i>Jungle
                          Star
                        </td>
                        <td>5.3 km</td>
                        <td>10 minutes</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4 custom-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="assets/img/Rampa-falls.jpg"
                  class="img-fluid rounded-start"
                  alt="Rampa falls"
                />
              </div>

              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Rampa Falls</h5>
                  <p class="card-text">
                    In the semi-evergreen forests of the Agency track in East
                    Godavari District, numerous picturesque spots and perennial
                    waterfalls grace the landscape. Among them is Rampa V.S.S,
                    surrounded by high forests showcasing Neelakanteswara and
                    Rampa waterfalls. Sri Neelakanteswara Vana Vihara Sthali is
                    located approximately 4 km from the village of
                    Rampachodavaram in East Godavari District.
                  </p>
                </div>
              </div>

              <div class="col-md-4 mt-3 mt-md-0">
                <h2 class="mb-3 text-center">How to reach?</h2>
                <address>
                  <i class="fa-solid fa-location-dot"></i>
                  FQ8P+X9R, Peddakonda, Andhra Pradesh 533288
                </address>
                <div class="map-container">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.837475644368!2d81.78332757501201!3d17.467491283433425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3715dbbbe40db1%3A0x5bce9a9cbde90678!2sRampa%20Water%20Falls!5e0!3m2!1sen!2sin!4v1712058658299!5m2!1sen!2sin"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">From</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Travel Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <i class="fa-solid fa-train me-2"></i>Vanavihari
                        </td>
                        <td>29 km</td>
                        <td>47 minutes</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa-solid fa-plane-arrival me-2"></i>Jungle
                          Star
                        </td>
                        <td>39 km</td>
                        <td>1 hour</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>


  <div class="container my-5 p-4 border rounded shadow-sm bg-light">
      <h2 class="mb-4 text-success">⛰️ GUDISA VIEW POINT</h2>


      <!-- Location -->
      <div class="iframe-container">
        <strong>📍 Location:</strong>
        <iframe
          class="responsive-iframe"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7598.71286350315!2d81.693937!3d17.774938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3731c48301f107%3A0x1ee53ed9481524bf!2sGudisa%20View%20point!5e0!3m2!1sen!2sin!4v1754838945890!5m2!1sen!2sin"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>


      <!-- Photos -->
      <div class="row my-4 gap-4">
        <!-- <label class="form-label"><strong>🖼️ Photos:</strong></label> -->
        <div class="col-md-3">
          <img
            src="assets/img/TOURIST-PLACES/gudisa-hills-1.jpg"
            class="rounded"
            alt="gudisa-hill"
          />
        </div>
        <div class="col-md-3">
          <img
            src="assets/img/TOURIST-PLACES/gudisa-hills-2.jpg"
            class="rounded"
            alt="gudisa-hill"
          />
        </div>
        <div class="col-md-3">
          <img
            src="assets/img/TOURIST-PLACES/gudisa-hills-3.jpg"
            class="rounded"
            alt="gudisa-hill"
          />
        </div>
        <div class="col-md-3">
          <img
            src="assets/img/TOURIST-PLACES/gudisa-hills-4.jpg"
            class="rounded"
            alt="gudisa-hill"
          />
        </div>
        <div class="col-md-3">
          <img
            src="assets/img/TOURIST-PLACES/gudisa-hills-5.jpg"
            class="rounded"
            alt="gudisa-hill"
          />
        </div>
        <div class="col-md-3">
          <img
            src="assets/img/TOURIST-PLACES/gudisa-hills-6.jpg"
            class="rounded"
            alt="gudisa-hill"
          />
        </div>
      </div>


      <!-- Description -->
      <div class="mb-4">
        <h5>📝 Description</h5>
        <p>
          Gudisa View Point, situated in the Gudisa hill range of Andhra
          Pradesh, offers breathtaking panoramic views of the Eastern Ghats.
          This grassland area is renowned for its lush green valleys, dense
          forests, and mist-covered hills, making it a haven for nature
          enthusiasts and photographers. The region is accessible via a
          challenging road, with the last 12 kilometers featuring the Gudisa
          Ghat Road, known for its sharp bends and unpaved paths. Visitors can
          enjoy activities such as trekking and bird watching.
        </p>
        <p>
          The Gudisa grassland forests of ASR District have rich biodiversity
          and semi-evergreen forests with undulating terrain, forming part of
          the Eastern Ghats. The journey to the Gudisa grasslands includes many
          streams flowing over undulating rocks in the deep woods, giving
          visitors a thrilling experience in nature. The Gudisa grasslands have
          specific characteristics of open grasslands with up to a 10-kilometer
          view. Especially at sunrise and sunset, the location is very
          beautiful.
        </p>
        <p>
          The Gudisa grasslands are located in the Maredumilli Range of
          Rampachodavaram Division Reserve Forests, a high hill station. These
          open grasslands have sparse, stunted tree and shrub growth exclusively
          on hilltops above +1235 meters altitude along the Eastern Ghats. It is
          an interesting vegetation type due to its unusual characteristics.
          Though it is part of the dry deciduous forests, it is a climatic
          climax type of vegetation of the Eastern Ghats. Additionally, tourism
          activities are regulated to preserve the ecosystem, and overnight
          stays are prohibited to prevent ecological damage and disturbances to
          local tribes. Several species here are on the RET (Rare, Endangered,
          and Threatened) list, and three are endemic species unique to the
          region.
        </p>
        <p>
          Located within the Eastern Ghats, Gudisa Hill Station not only captivates with its natural beauty but also stands as a centre of cultural and ecological significance. It is home to the Konda Reddy tribe, where visitors can witness preserved tribal arts, crafts, and traditional knowledge. The region offers enriching experiences such as nature education, medicinal plant awareness, and sustainable tourism practices. Guided local tours provide access to trekking trails, scenic viewpoints, and birdwatching spots, including sightings of the rare Green Munia.
        </p>
      </div>


      <!-- Info Table -->
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>📅 Best Time to Visit</th>
            <td>October to February</td>
          </tr>
          <tr>
            <th>🕘 Timings</th>
            <td>
              Sun Rise: 4:00 AM to 10:00 AM <br />Sun Set: 4:00 PM to 6:00 PM
            </td>
          </tr>
          <tr>
            <th>🚗 Vehicle Parking</th>
            <td>₹300/- per vehicle & ₹100/- per person</td>
          </tr>
          <tr>
            <th>🛻 Transport Options</th>
            <td>
              Bolero Vehicles <br />
              NOTE: Only locally hired vehicles that are registered with the
              Forest Department are permitted. Two-wheelers and private vehicles
              are not allowed..
            </td>
          </tr>
          <tr>
            <th>🛣️ Travel Plan</th>
            <td>
              ⮚ Rajahmundry – Gokavaram – Rampachodavaram– Maredumilli –
              Akumamidikota–150 Kms. <br />
              ⮚ Kakinada – Jaggampeta – Gokavaram – Rampachodavaram –
              Maredumilli – Akumamidikota – 165 Kms. <br />
              ⮚ Bhadrachalam – Chinturu – Valamuru – Maredumilli – Akumamidikota
              – 125 Kms.
            </td>
          </tr>
          <tr>
            <th>⛰️ Altitude</th>
            <td>1,200 m</td>
          </tr>
          <tr>
            <th>🌅 View Description</th>
            <td>Sunrise, Sunset, and 360° view</td>
          </tr>
          <tr>
            <th>🎯 Activities</th>
            <td>Trekking, Bird Watching, Photography</td>
          </tr>
          <tr>
            <th>📸 Photoshoot</th>
            <td>Rs. 5,000/- (DSLR only, drone not allowed)</td>
          </tr>
          <tr>
            <th>🛡️ Safety</th>
            <td>
              Carry drinking water and snacks<br />
              Wear sturdy trekking shoes<br />
              No overnight stays allowed
            </td>
          </tr>
          <tr>
            <th>🚫 Restrictions</th>
            <td>No littering, no disturbing local wildlife, no plastic</td>
          </tr>
          <tr>
            <th>🏥 Closest Medical Help</th>
            <td>PHC Maredumilli</td>
          </tr>
        </tbody>
      </table>
    </div>