<app-layout>
    <div class="main">
        <section class="page-banner d-grid place-items-center">
            <h1 class="display-3 text-center">Payment policy</h1>
        </section>
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <h5>Terms & Conditions for making payment thro' our website</h5>
                                <ul>
                                    <li>
                                        Please read these terms carefully before using the online payment facility.
                                        Using the online payment facility on this website indicates that you accept
                                        these terms. If you do not accept these terms do not use this facility.
                                    </li>
                                    <li>
                                        <strong>All payments are subject to the following conditions:</strong>
                                        <ul>
                                            <li>
                                                The description of services of the match is specific to your need when
                                                you log in with your unique password. Normally payment is required in
                                                advance (i.e. before you commence your activity).
                                            </li>
                                            <li>
                                                All Fees quoted are in Indian Rupees. The VANAVIHARI reserves the right
                                                to change the fees at any time.
                                            </li>
                                            <li>
                                                Your payment will normally reach the VANAVIHARI account to which you are
                                                making a payment within two working days.
                                            </li>
                                            <li>
                                                We cannot accept the liability if payment is refused or declined by the
                                                credit/debit card supplier for any reason.
                                            </li>
                                            <li>
                                                If the card supplier declines payment the VANAVIHARI is not obligated to
                                                bring this fact to your attention. You should check with your
                                                bank/credit/debit card supplier that payment has been deducted from your
                                                account.
                                            </li>
                                            <!-- <li>
                                                In no event will the VANAVIHARI be liable for any damages whatsoever arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials or information contained at any or all such sites, whether based on warranty, contract, tort or any other legal theory and whether or not advised of the possibility of such damages.
                                            </li> -->
                                            <!-- <li>
                                                Payment gateway Transaction charges are borne by VANAVIHARI only.
                                            </li> -->
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="mb-3">
                                <h5>Refund Policy & Cancellation Policy</h5>
                                <ul>
                                    <!-- <li>
                                        If the Customer leaves the VANAVIHARI before they complete their service period, there shall be no entitlement to a refund of paid service fees.
                                    </li> -->
                                    <li><strong> More than 48 hours:</strong> 90% refund</li>
                                    <li><strong> 24-48 hours before:</strong> 80% refund</li>
                                    <li><strong> Within 24 hours:</strong> No refund</li>
                                    <li>
                                        Refunds, if applicable, at the discretion of the Management, will only be made
                                        to the debit/credit card used for the original transaction. For the avoidance of
                                        doubt, nothing in this Policy shall require the VANAVIHARI to refund the Fees
                                        (or part thereof) unless such Fees (or part thereof) have previously been paid.
                                    </li>
                                </ul>
                            </li>

                            <li class="mb-3">
                                <h5>Privacy Policy</h5>
                                <ul>
                                    <li>
                                        This Privacy Policy applies to all of the products, services and websites
                                        offered by VANAVIHARI. Sometimes, we may post product-specific privacy notices
                                        or Help Centre materials to explain our products in more detail.
                                    </li>
                                    <li>
                                        If you have any questions about this Privacy Policy, please feel free to contact
                                        us through our website or write to us at Information we collect and how we use
                                        it for our VANAVIHARI.
                                    </li>
                                    <li>
                                        VANAVIHARI reserves the entire right to modify/amend/remove this privacy
                                        statement anytime and without any reason. Nothing contained herein creates or is
                                        intended to create a contract/agreement between VANAVIHARI and any user visiting
                                        the VANAVIHARI website or providing identifying information of any kind.
                                    </li>
                                </ul>
                            </li>

                            <!-- <li class="mb-3">
                                <h5>DND Policy</h5>
                                <ul>
                                    <li>
                                        If you wish to stop any further SMS/email alerts/contacts from our side, all you need to do is to send an email to <a href="mailto:info@vanavihari.com">info@vanavihari.com</a> with your mobile numbers and you will be excluded from the alerts list.
                                    </li>
                                </ul>
                            </li> -->

                            <!-- <li>
                                <h5>Contact Details</h5>
                                <ul>
                                    <li>
                                        <strong>Email: </strong> <a
                                            href="mailto:info@vanavihari.com">info@vanavihari.com</a>
                                    </li>
                                    <li>
                                        <strong>Mobile: </strong> <a href="tel:+919494151617">+91 94941 51617</a>
                                    </li>
                                    <li>
                                        <strong>Name:</strong> Mr. Veerababu
                                    </li>
                                </ul>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </div>
</app-layout>