<app-layout>
    <div class="main">
      <app-loader *ngIf="showLoader"> </app-loader>
      <section class="page-banner d-grid place-items-center" *ngIf="selectedResortInfo">
        <h1 class="display-3 text-center">{{ selectedResortInfo.title }}</h1>
      </section>
  
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Resorts</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">
              {{ selectedResortInfo.title }}
            </li>
          </ol>
        </nav>
        <div class="row" *ngIf="selectedResortInfo">
          <div class="col-md-4">
            <div class="map-container" *ngIf="selectedResort == 'Vanavihari, Maredumilli'">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15212.133581651236!2d81.712357!3d17.601149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a373b5d52758873%3A0x718f2b2059db5e0a!2sVanavihari%20Maredumilli!5e0!3m2!1sen!2sin!4v1708738599849!5m2!1sen!2sin"
                width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="map-container" *ngIf="selectedResort == 'Jungle Star, Valamuru'">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3802.321273036429!2d81.63047557463233!3d17.634936395627708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3725b319b638ff%3A0x6497bd032f830606!2sJUNGLE%20STAR%20ECO%20CAMP!5e0!3m2!1sen!2sin!4v1708782328839!5m2!1sen!2sin"
                width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-md-8 mt-4 mt-lg-0" *ngIf="selectedResort == 'Vanavihari, Maredumilli'">
            <h4>About {{ selectedResortInfo.title }}</h4>
            <p>
              {{ selectedResortInfo.about }}, situated in the serene landscapes of
              Maredumilli, beckons eco-tourism aficionados with its abundance of
              bamboo trees. This guesthouse, committed to community well-being,
              offers a serene retreat amidst natural surroundings. With its snug
              cottages and rooms, it conveniently lies close to Amruthathara
              Waterfalls, promising guests a peaceful ambiance. Nearby street food
              eateries present the opportunity to savor the distinctive flavor of
              bamboo biriyani. Stepping out for a night or morning stroll unveils
              a heavenly experience for visitors.
            </p>
          </div>
          <div class="col-md-8 mt-4 mt-lg-0" *ngIf="selectedResort == 'Jungle Star, Valamuru'">
            <h4>About {{ selectedResortInfo.title }}</h4>
            <p>
              {{ selectedResortInfo.about }}, situated like an island surrounded
              by water, Jungle Star Eco camp offers a picturesque setting atop a
              hillock. Accesible only via bridge, the camp features seven cottages
              where guets leave their cars in the parking area and embark on a
              short walk over the bridge. For adventure entusiastics, treks and
              this camp promises a unique and immersive eco-friendly experience.
              The accommodation package encompasses the provision of three meals
              daily, ensuring guests have their breakfast, lunch and dinner
              including during their stay.
            </p>
          </div>
        </div>
  
        <div class="policy-section row py-3" *ngIf="selectedResortInfo">
          <div class="col-md-4">
            <h4 class="">Guest Policies & Rates</h4>
            <ul>
              <li><strong>Occupancy:</strong> 2 guests (1 extra allowed)</li>
              <li>
                <strong>Amenities: </strong> <i class="fa-solid fa-snowflake"></i> AC, <i class="fa-solid fa-hot-tub-person"></i> geyser, <i class="fa-solid fa-toilet"></i> western toilet.
              </li>
              <li *ngIf="selectedResort == 'Jungle Star, Valamuru'">
                <strong>Food: </strong><i class="fa-solid fa-utensils"></i> Room rates include three meals per day.
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="custom-h4">Cancellation</h4>
            <ul>
              <li><strong> More than 48 hours:</strong> 90% refund</li>
              <li><strong> 24-48 hours before:</strong> 80% refund</li>
              <li><strong> Within 24 hours:</strong> No refund</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="custom-h4">Check-In/Out:</h4>
            <ul>
              <li><strong>Check-in:</strong> 10:00 AM IST</li>
              <li><strong> Check-out:</strong> 9:00 AM IST</li>
              <li>Early/late fees may apply (subject to availability)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <h2 class="text-center mb-3 mt-5">Search availability</h2>
        <!-- section for search bar - with inputs given in home page search, and user can modify -->
        <app-search-resort></app-search-resort>
        <!-- rooms listing section -->
        <div class="row mt-3">
          <aside class="col-lg-4  mt-3">
            <!-- filter icon mobile -->
            <div *ngIf="datesSelected" class="text-center py-1 d-none" (click)="toggleFilter()">
              <img class="icon-small me-3" src="/assets/images/icons/filter.svg" alt="filter svg"> Filter
            </div>
  
            <div id="filterCottage" *ngIf="datesSelected" class=" p-3 p-lg-0 d-none" [ngClass]="{ 'active': isFilterOpen }">
              <div class="d-flex justify-content-end mt-2 d-lg-none"><i class="fa-solid fa-xmark fa-2xl"
                  (click)="toggleFilter()"></i></div>
  
              <h4> Filter by Cottage Type</h4>
              <div class="d-block" *ngIf="selectedResort=='Vanavihari, Maredumilli'">
                <mat-checkbox id="deluxe" [(ngModel)]="cottageTypes['Deluxe Rooms']"
                  (change)="onCottageTypeChange()">Deluxe Rooms</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Vanavihari, Maredumilli'">
                <mat-checkbox id="pre-fabricated" [(ngModel)]="cottageTypes['Pre-Fabricated Cottages']"
                  (change)="onCottageTypeChange()">Pre-Fabricated Cottages</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Vanavihari, Maredumilli'">
                <mat-checkbox id="hilltop" [(ngModel)]="cottageTypes['Hill Top Guest House']"
                  (change)="onCottageTypeChange()">Hilltop Guest House</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Vanavihari, Maredumilli'">
                <mat-checkbox id="hilltop" [(ngModel)]="cottageTypes['Bison Cottages']"
                  (change)="onCottageTypeChange()">Bison</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Vanavihari, Maredumilli'">
                <mat-checkbox id="vihari" [(ngModel)]="cottageTypes['Vihari']"
                  (change)="onCottageTypeChange()">Vihari</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Vanavihari, Maredumilli'">
                <mat-checkbox id="wooden" [(ngModel)]="cottageTypes['Wooden Cottages']"
                  (change)="onCottageTypeChange()">Wooden Cottages</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Jungle Star, Valamuru'">
                <mat-checkbox id="tented" [(ngModel)]="cottageTypes['Tented Cottage']"
                  (change)="onCottageTypeChange()">Tented Cottages</mat-checkbox>
              </div>
              <div class="d-block" *ngIf="selectedResort=='Jungle Star, Valamuru'">
                <mat-checkbox id="tented" [(ngModel)]="cottageTypes['Permanent Cottage']"
                  (change)="onCottageTypeChange()">Permanent Cottages</mat-checkbox>
              </div>
              <!-- <mat-form-field>
                <mat-label>Sort by Price</mat-label>
                <mat-select [(value)]="selectedSortOption" name="priceSort" (selectionChange)="onSortChange()">
                  <mat-option value="lowToHigh">Low to High</mat-option>
                  <mat-option value="highToLow">High to Low</mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
  
            <!-- Booking Summary section -->
            <!-- Common Booking Summary Content -->
            <ng-template #bookingSummaryContent>
              <div class="border-top pt-2" *ngIf="showBookingSummary; else noBookings">
                <div *ngFor="let roomId of roomIds">
                  <div *ngIf="findRoomById(roomId)">
                    <a href="javascript:void(0)" class="float-end" (click)="removeRoom(roomIds, roomId)"><i
                        class="fa fa-trash"></i></a>
                    <div>
                      <strong class="me-2">Room Name: </strong>{{ findRoomById(roomId).Room_Name }}
                    </div>
                    <div class="d-flex flex-column">
                      <small>
                        <strong>Room Tariff:</strong>
                        {{
                        findRoomById(roomId).Week_Days_Rate
                        | currency : "INR " : true : "1.2-2"
                        }}
                      </small>
                      <small>
                        <strong>Cottage Type:</strong>
                        {{ findRoomById(roomId).Cottage_Type }}
                      </small>
                    </div>
  
                    <div class="custom-dropdown mt-4">
                      <mat-form-field appearance="outline" class="mat-small">
                        <mat-label>No. of Guests</mat-label>
                        <mat-select (selectionChange)="noOfGuestAction($event, roomId)"
                          [(ngModel)]="selectedValues[roomId]" size="small" #guestSelect="matSelect">
                          <mat-option value="1">1</mat-option>
                          <mat-option value="2">2</mat-option>
                        </mat-select>
                        <mat-hint class="px-0">Adults/Child over 5 yrs</mat-hint>
                      </mat-form-field>
                      <mat-checkbox [checked]="findRoomById(roomId).extra_guest" class="example-margin" color="primary"
                        (change)="extraGuestActions($event, roomId)">
                        <label>Add an extra guest </label>
                      </mat-checkbox>
  
                      <div *ngIf="findRoomById(roomId).extra_guest" class="pt-3">
                        <strong *ngIf="selectedResort == 'Jungle Star, Valamuru'">INR 1500</strong>
                        <strong *ngIf="selectedResort == 'Vanavihari, Maredumilli'">INR 500</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-1" />
              <ng-container *ngIf="showBookingSummary">
                <div class="custom-dropdown mt-4">
                  <mat-form-field appearance="outline" class="mat-small">
                    <mat-label>No of children</mat-label>
                    <mat-select required [(ngModel)]="extraChildren" size="small">
                      <mat-option value="0">0</mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                    </mat-select>
                    <mat-hint class="px-0">Up to 5 years</mat-hint>
                  </mat-form-field>
                </div>
                <div class="d-flex justify-content-between pt-1">
                  <span>
                    Room charges<br>
                    <small class="fst-italic">{{ roomIds.length }} room<span *ngIf="roomIds.length > 1">s</span>, {{ calculateDurationOfStay() }} night(s)</small>
                  </span>
                  
                  <span>{{
                    getRoomCharges()*calculateDurationOfStay() | currency : "INR " : "symbol" : "1.2-2"
                    }}</span>
                </div>
                <div class="d-flex justify-content-between pt-1" *ngIf="
                    isAddedExtraGuest ||
                    isAnyRoomChecked() ||
                    calculateExtraGuestCharges()
                  ">
                  <span>
                    Extra guest<br>
                    <!-- show no. of rooms only for which user has chosen extra guests -->
                    <small class="fst-italic">{{ extraGuestNumber }} room<span *ngIf="roomIds.length > 1">s</span>, {{ calculateDurationOfStay() }} night(s)</small>
                    <!-- ({{ getRoomDescription() }}) -->
                  </span>
                  <span>{{
                    calculateExtraGuestCharges() * calculateDurationOfStay()
                    | currency : "INR " : "symbol" : "1.2-2"
                    }}</span>
                </div>
                <div class="d-flex justify-content-between border-top border-bottom border-primary py-2 font-weight-bold text-secondary h5">
                  <span class="mb-0">Grand Total</span>
                  <span>{{
                    calculatePayablePrice()
                    | currency : "INR " : "symbol" : "1.2-2"
                    }}</span>
                </div>
              </ng-container>
              <button mat-raised-button color="primary" class="w-100 mt-3" (click)="signIn()" *ngIf="showBookingSummary"
                [disabled]="isGuestSelectEmpty()">
                Proceed
              </button>
            </ng-template>
            <!-- Desktop Layout -->
            <div *ngIf="!isMobile" class="booking-summary-bar text-dark rounded-3">
              <h4 class="mt-2 mb-0 pb-1 font-weight-bold">Booking Summary</h4>
              <ng-container *ngTemplateOutlet="bookingSummaryContent"></ng-container>
            </div>
            <!-- Mobile Layout -->
            <mat-accordion *ngIf="isMobile">
              <div class="mt-2">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="booking-summary-bar text-dark rounded-3">
                        <h5 class="m-0 font-weight-bold" [class.booking-summary-bar--title]="isRoomAvailable()">
                          Booking Summary
                        </h5>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div [ngClass]="{ 'accordion-body': showBookingSummary }">
                    <ng-container *ngTemplateOutlet="bookingSummaryContent"></ng-container>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
            <ng-template #noBookings>
              <div class="d-flex my-2 p-3 align-items-center justify-content-around">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <p class="m-0">Add your preferred rooms</p>
              </div>
            </ng-template>
          </aside>
          <main class="rooms-listing col-lg-8">
            <ng-template #loading>
              <div class="text-center">
                <!-- Increase size using Bootstrap utility classes -->
                <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <p>Loading rooms...</p>
              </div>
            </ng-template>
            <div class="card mb-3 text-center" *ngIf="(!filteredRoomData && !loadingRooms) || filteredRoomData?.length === 0">
              Sorry, rooms are not available
            </div>
  
            <div *ngIf="!loadingRooms">
              <div *ngIf="!isRoomDataEmpty">
                <div class="row my-2 w-100 d-flex align-items-center justify-content-center">
                  <div>
                    <pre *ngIf="showMessage" class="text-center">
  *** Please select dates and search rooms ****</pre>
                  </div>
                </div>
                <div class="card mb-3" *ngFor="let room of filteredRoomData">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="containerg">
                        <div class="card-containerg" #cardContainer>
                          <div class="card py-0" *ngFor="
                              let item of getRoomImages(room.Room_Name);
                              let i = index
                            ">
                            <img class="img-responsive" src="{{ item }}" alt=""
                              (click)="openLightbox(i, room.Room_Name)" />
                          </div>
                        </div>
                        <div class="full-image-overlay" *ngIf="isFullImageVisible" (click)="closeFullImage()">
                          <div class="full-image-container">
                            <div class="scroll-icon left" (click)="scrollLeft(cardContainer)" #scrollLeftIcon>
                              &#10094;
                            </div>
                            <img class="full-image" [src]="fullImageSrc" alt="" />
                            <div class="scroll-icon right" (click)="scrollRight(cardContainer)" #scrollRightIcon>
                              &#10095;
                            </div>
  
                            <div class="overlay-controls">
                              <button class="close-button" (click)="closeFullImage()">
                                <i class="fas fa-window-close" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
  
                        <div class="scroll-icon left" (click)="scrollLeft(cardContainer)" #scrollLeftIcon>
                          <i class="fas fa-chevron-left    "></i>
                          <!-- &#10094; -->
                        </div>
                        <div class="scroll-icon right" (click)="scrollRight(cardContainer)" #scrollRightIcon>
                          <i class="fas fa-chevron-right    "></i>
                          <!-- &#10095; -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 row justify-content-between">
                      <div class="col-md-7">
                        <h5>
                          <span class="text-primary-dark font-weight-bold">Room name: </span>{{ room.Room_Name }}
                        </h5>
                        <h6>
                          <span class="text-primary-dark font-weight-bold">Cottage type: </span>{{ room.Cottage_Type }}
                        </h6>
                        <h6>
                          <span class="text-primary-dark font-weight-bold">Resort name:
                          </span>
                          {{ room.Select_Resort }}
                        </h6>
  
                      </div>
                      <div class="col-md-5 row d-md-block gap-2 text-md-end mt-2 mt-md-0 pe-md-0">
                        <div class="col-auto">
                          <h6 class="p-0 m-0">
                            <!-- <strong>{{ isWeekend ? room.Week_End_Rate : room.Week_Days_Rate }}
                            </strong> -->
                            <strong>INR {{ room.Week_Days_Rate }} </strong>
                          </h6>
                          <p class="text-primary-dark"> <i class="fas fa-user-times" aria-hidden="true"></i> 2 guests</p>
                        </div>
                        <div class="col-auto">
                          <h6 class="p-0 m-0">
                            <strong *ngIf="selectedResort == 'Vanavihari, Maredumilli'">INR {{ 500 }}
                            </strong>
                            <strong *ngIf="selectedResort == 'Jungle Star, Valamuru'">INR {{ 1500 }}
                            </strong>
                          </h6>
                          <p class="text-primary-dark"><i class="fa fa-user" aria-hidden="true"></i> One extra guest</p>
                        </div>
                        <div class="col-12">
                          <p class="text-primary-dark" *ngIf="selectedResort == 'Jungle Star, Valamuru'"><i class="fa-solid fa-utensils"></i> Room price includes
                            food</p>
                        </div>
                        <!-- <div><strong>{{ room.week_day_bed_charge | currency: 'INR ': true: '1.2-2' }}</strong></div>
                  <small>+ gst @ 12%</small><br>
                  <small>(for 1 Extra Bed)</small> -->
                      </div>
                      <div class="col my-2 pe-0">
                        <button mat-raised-button color="primary" class="float-end float-md-start"
                          [disabled]="isRoomAdded(room.Room_Id)" (click)="addRoom(room)">
                          Add room
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </app-layout>
  
  <!-- <div class="modal" tabindex="-1" *ngIf="isPromptModalVisible" style="display: block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            "For a secure booking process, we suggest signing in. Would you like
            to sign in or proceed as a guest?"
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="signIn()">
            Sign-in
          </button>
        </div>
      </div>
    </div>
  </div> -->