<section class="search-rooms">
  <form #searchForm="ngForm">
    <div class="row align-items-center justify-content-center gap-3 gap-lg-0">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Select Resort</mat-label>
          <mat-select (selectionChange)="setMinDate()" required [(ngModel)]="selectedResort" name="SelectResort"
            >
            <mat-option value="Vanavihari, Maredumilli">Vanavihari, Maredumilli</mat-option>
            <mat-option value="Jungle Star, Valamuru">Jungle Star, Valamuru</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Checkin date</mat-label>
          <input   matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (click)="picker.open()" placeholder="Checkin date"
            name="CheckinDate" [(ngModel)]="checkinDate" #checkinDateInput="ngModel" required />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="checkinDateInput.invalid">Checkin date is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Checkout date</mat-label>
          <input matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="Checkout date"
            name="CheckOutDate" [(ngModel)]="checkoutDate" [min]="setMinCheckoutDate()" [max]="maxDate" #checkoutDateInput="ngModel"
            required />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="checkoutDateInput.invalid">Checkout date is required</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <button mat-raised-button color="primary" class="w-100" [disabled]="!searchForm.valid" (click)="submitSearch()">
          Search
        </button>
      </div>
    </div>
  </form>
</section>


<!-- Add this HTML structure to your component's template -->
<div class="modal" tabindex="-1" *ngIf="isModalVisible" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to edit booking details?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-bg-secondary" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">Switch Anyway</button>
      </div>
    </div>
  </div>
</div>