<app-layout>
  <div class="main">
    <section class="min-vh-noscroll mt-5 pt-5">
      <div class="container">
          <h1 class="mb-3">My Bookings</h1>
          <!-- rooms iteratre if more than one room -->
          <div class="card">
            <div class="row justify-content-md-between">
              <div class="col-md-4 bordered-col">
                <h4><strong>Resort name:</strong> Vanavihari</h4>
                <p><strong>Booking ID:</strong> BJ2404971</p>
                <p><strong>Total guests:</strong> 2 guests</p>
                <p><strong>Total amount (Including GST @12%):</strong> INR 3360</p>
              </div>
              <!-- Booking dates -->
              <div class="col-md-4 bordered-col">
                <h3>Booking dates</h3>
                <div class="d-flex gap-3">
                  <div class="show-date">
                    <p class="h6 font-weight-bold">Check-in</p>
                    <h1 class="display-3">15</h1>
                    <p>May 2024</p>
                  </div>
                  <div class="show-date">
                    <p class="h6 font-weight-bold">Check-out</p>
                    <h1 class="display-3">20</h1>
                    <p>May 2024</p>
                  </div>
                </div>
                <p><strong>Duration of stay (in days): 5</strong></p>
              </div>
              <!-- status -->
              <div class="col-md-4">
                <h5><strong>Status: </strong>Confirmed</h5>
                <a class="btn btn-primary text-white my-2" href="tel:+919494151617" title="call">
                  <i class="fa-solid fa-mobile-screen me-2"></i>Call Support</a>
                <p><strong>Food preference:</strong> Vegetarian</p>
              </div>
            </div>
          </div>
          <!-- room specific details -->
          <div class="card mt-4">
            <div class="row">
               <div class="col-md-3">
                <img src="assets/img/pamuleru/img-1.jpg" class="img-fluid" alt="Room Image">
              </div>
              <div class="col-md-3">
                <p><strong>Cottage type:</strong> Deluxe rooms</p>
                <p><strong>Room name:</strong> Bahuda</p>
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>
</app-layout>