<app-layout>
  <div class="main d-flex justify-content-center align-items-center">
    <app-loader *ngIf="showLoader"></app-loader>
    <div
      class="container booking-container text-center"
      style="position: fixed; display: block; top: 30%"
      *ngIf="noBookings"
    >
      <p>{{ message }}</p>
    </div>
    <section class="min-vh-noscroll">
      <div class="container booking-container" *ngIf="!noBookings">
        <div class="booking-card">
          <h1>My Bookings</h1>
          <div class="row my-5" *ngFor="let item of bookingData">
            <!-- Room image and resort details -->
            <div class="col-md-3 room-image">
              <img
                src="{{ getRoomImages(item.rooms.name)[0] }}"
                class="img-fluid"
                alt="Room Image"
              />
            </div>
            <div class="col-md-3 booking-details">
              <h4><strong>Resort name:</strong> {{ item.rooms.restort }}</h4>
              <p><strong>Room name:</strong> {{ item.rooms.name }}</p>
              <p><strong>Cottage type:</strong> {{ item.rooms.cottage }}</p>
              <p>
                <strong>Guest info:</strong>
                <title>
                  {{ item.noof_guest }} guests, {{ item.noof_children }} child,
                  {{ item.noof_extra_guest }} extra guest
                </title>
              </p>
              <p><strong>Total amount:</strong> {{ item.payable_amt }}</p>
              <p *ngIf="item.food_preference">
                <strong>Food preference:</strong> {{ item.food_preference }}
              </p>
              <div class="w-100 d-flex flex-column align-items-start justify-content-start p-0 m-0" *ngIf="item.rooms.restort == 'Jungle Star, Valamuru'">
                  <!-- <a class="text-decoration-none" style="color: #ffffff !important;" href="assets/PDF/Foodmenu.pdf" target="_blank">View Food Menu</a> -->
                                    <a class="btn p-0 m-0"  href="/#/food-menu" target="_blank">View Food Menu</a>

                
              </div>
            </div>
            <div class="col-md-3 bordered-col">
              <!-- Booking dates -->
              <h3>Booking dates</h3>
              <div class="d-flex gap-3">
                <div class="show-date">
                  <p>Check-in</p>
                  <h1 class="display-3">{{ formatDate(item.checkin).day }}</h1>
                  <p>
                    {{ formatDate(item.checkin).month }}
                    {{ formatDate(item.checkin).year }}
                  </p>
                </div>
                <div class="show-date">
                  <p>Check-out</p>
                  <h1 class="display-3">{{ formatDate(item.checkout).day }}</h1>
                  <p>
                    {{ formatDate(item.checkout).month }}
                    {{ formatDate(item.checkout).year }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex flex-column booking-status">
              <p>Booking Status:</p>
              <h6>{{ item.status }}</h6>
              <p>Payment Status:</p>
              <h6>{{ item.pay_status }}</h6>
              <p *ngIf="item.pay_status == 'Not Paid'" class="my-2">
                We haven't received your payment yet. If the amount has been
                debited, it will be refunded to your account within 5 to 7
                working days. To confirm your booking, please reach out to
                support with your <br />
                booking ID : {{ item.booking_id }}
              </p>
              <button
                class="btn mt-2"
                (click)="callSupport('Vanavihari, Maredumilli')"
                *ngIf="item.rooms.restort === 'Vanavihari, Maredumilli'"
              >
                Call Support
              </button>
              <button
                class="btn mt-2"
                (click)="callSupport('Jungle Star, Valamuru')"
                *ngIf="item.rooms.restort === 'Jungle Star, Valamuru'"
              >
                Call Support
              </button>

              <button class="btn mt-2 d-none" [disabled]="true">Cancel</button>

              <button
                class="btn mt-2 d-none"
                [disabled]="item.status !== 'completed'"
              >
                Add Review
              </button>

              <!-- Booking status and completion button -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</app-layout>
