.min-vh-noscroll{
  min-height: 70vh;
  display: flex;
  align-items: center;
  // overflow: hidden;
}


/* Borders for main columns under first row */
@media(min-width:768px){
  .bordered-col {
    border-right: 1px solid #ced4da;
  }
  
}