@use "/src/scss/base/" as *;

.page-banner {
  background-image: url("/assets/img/home-gallery/vanavihari-home-gallery-1.jpg");
}
.card1 {
  line-height: 2;
}
.breadcrumb {
  padding: 10px;
  background-color: #f8f9fa;
  // margin-bottom: 20px;
}

.filter-options,
.sort {
  background-color: #f8f9fa;
  // padding: 15px;
  margin-bottom: 20px;
  // border-radius: 15px;
}

.card {
  margin-bottom: 20px;
  // padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.star-rating {
  display: inline-block;
  font-size: 1.5rem;
  color: #ffd700;

  &::before {
    content: "\2605\2605\2605\2605";
  }

  &::after {
    content: "\2606";
    margin-left: 3px;
  }
}

aside {
  background-color: hsl($hue-primary, $saturation-primary, 85%);
  padding: 20px;

  @media (min-width: 768px) {
    // flex-basis: 35%;
    top: 5%;
    // margin-top: 2rem;
    // bottom: 0;
    left: 0;
    right: 0;
    // position: relative;
  }

  .booking-summary-bar {
    // background-color: $clr-secondary;
    color: $white;
    // padding: 10px;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // z-index: 1000;
    // h5{
    //   color: $white;
    // }

    // @media(min-width: 768px) {
    //   position: sticky;
    //   top: 5%;
    //   margin-top: 2rem;
    //   // overflow-y: auto;

    // }
  }
}

main {
  &.rooms-listing {
    // margin-left: 0;
    // transition: margin-left 0.5s;
    @media (min-width: 768px) {
      // flex-basis: 65%;
    }
  }
}

.position-sticky-for-mobile {
  top: 5%;
  left: 0;
  right: 0;
  z-index: 1000;
  position: sticky;
  width: 92%;
  margin: auto;
  padding: 6px !important;
  h4,
  .custom-text {
    font-size: 15px;
  }
}
.accordion-body {
  height: 335px;
  overflow: scroll;
}
.policy-section {
  background: hsl(90, 100%, 85%);
  padding: 20px;
  margin: 20px 0px;
}
.custom-h4 {
  padding-left: 10px;
}

.mySlides{
  width: 100%;
  height: 226px;
}
.img-dimension{
  height: 72px;
  width: 102px;
}
.w3-black{
    border-radius: 20px;
}
.w-100{
  width: 100%;
}
.image-container{
  display: flex;
}
.side-images{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
    
    @media (max-width: 425px) {
      .rooms-listing {
     width: 100%;
    }
    .image-container{
     flex-direction: column;
    }
    .side-images{
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction:row
    }
    .block-custom{
      flex-direction: column;
    }
    .d-flex-start{
      height: 138px;
    }
    .custom-width{
      width: 372px!important;
    }
  }
  @media (max-width: 768px) {
    .rooms-listing {
   width: 100%;
  }
}
.custom-width{
  width: 430px;
}
@media (max-width: 1024px) {
  .custom-width{
    width: 300px;
  }
}