<app-layout>
    <div class="main" *ngIf="selectedResortInfo">
      <section class="page-banner d-grid place-items-center">
        <h1 class="display-3 text-center">{{ selectedResortInfo.title }}</h1>
      </section>
  
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Resorts</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">
              {{ selectedResortInfo.title }}
            </li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-md-4">
            <div class="map-container">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15212.133581651236!2d81.712357!3d17.601149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a373b5d52758873%3A0x718f2b2059db5e0a!2sVanavihari%20Maredumilli!5e0!3m2!1sen!2sin!4v1708738599849!5m2!1sen!2sin"
                width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-md-8 mt-4 mt-lg-0">
            <h4>About {{ selectedResortInfo.title }}</h4>
            <p>
              {{ selectedResortInfo.about }}
            </p>
          </div>
        </div>
  
        <div class="policy-section row">
          <div class="col-sm-12 col-lg-4">
            <h4 class="custom-h4">Guest Policies & Rates
            </h4>
            <ul>
              <li> <strong>Occupancy:</strong> 2 guests (1 extra allowed)
              </li>
              <li> <strong>Amenities:</strong> AC, geyser, western toilet, Prices exclude 12% GST.
  
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-4">
            <h4 class="custom-h4">Cancellation
  
            </h4>
            <ul>
              <li> <strong>
  
                  48-72 hours before:</strong> 90% refund
              </li>
              <li> <strong> 24-48 hours before:</strong> 80% refund
              </li>
              <li> <strong>
  
                  Within 24 hours:</strong> No refund
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-4">
            <h4 class="custom-h4">Check-In/Out:
  
            </h4>
            <ul>
              <li> <strong>Check-in:</strong> 10:00 AM IST
              </li>
              <li> <strong>
  
                  Check-out:</strong> 9:00 AM IST
  
              </li>
              <li>
                Early/late fees may apply (subject to availability)
  
              </li>
            </ul>
          </div>
        </div>
        <h2 class="text-center mb-4">Modify Search</h2>
        <!-- section for search bar - with inputs given in home page search, and user can modify -->
        <app-search-resort></app-search-resort>
        <!-- rooms listing section -->
        <div class="row mt-5">
        </div>
      </div>
    </div>
  
  </app-layout>