@use "/src/scss/base/" as *;

.page-banner {
  background-image: url("/assets/img/home-gallery/vanavihari-home-gallery-1.jpg");
}
.card1 {
  line-height: 2;
}
.breadcrumb {
  padding: 10px;
  background-color: #f8f9fa;
  // margin-bottom: 20px;
}

.filter-options,
.sort {
  background-color: #f8f9fa;
  // padding: 15px;
  margin-bottom: 20px;
  // border-radius: 15px;
}

.card {
  margin-bottom: 20px;
  // padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.star-rating {
  display: inline-block;
  font-size: 1.5rem;
  color: #ffd700;

  &::before {
    content: "\2605\2605\2605\2605";
  }

  &::after {
    content: "\2606";
    margin-left: 3px;
  }
}

aside {
  // background-color: hsl($hue-primary, $saturation-primary, 85%);
  background-color: $clr-primary-lighter;
  padding: 20px;

  @media (min-width: 768px) {
    // flex-basis: 35%;
    top: $nav-bar-height;
    // margin-top: 2rem;
    // bottom: 0;
    left: 0;
    right: 0;
    // position: relative;
  }

  .booking-summary-bar{
    &--title{
      // color: red;
      position: relative;
      &::after{
        position: absolute;
        // content: "";
        content: "\f0f3";
        font-family: "Font Awesome 6 Free";
        font-size: 18px;
        color: red;
        top: 50%;
        transform: translateY(-50%);
        // width: 18px;
        // aspect-ratio: 1;
        // background: red;
        right: -22%;
        // border-radius: 50%;
      }
    }
  }
}

main {
  &.rooms-listing {
    // margin-left: 0;
    // transition: margin-left 0.5s;
    @media (min-width: 768px) {
      // flex-basis: 65%;
    }
  }
}
pre{
  color: red;
}

.position-sticky-for-mobile {
  top: $nav-bar-height;
  left: 0;
  right: 0;
  z-index: 1000;
  position: sticky;
  padding: 6px !important;
  h4,.custom-text {
    font-size: 15px;
  }
  .booking-summary-bar{
    &--title{
      // color: red;
      position: relative;
      &::after{
        position: absolute;
        // content: "";
        content: "\f0f3";
        font-family: "Font Awesome 6 Free";
        font-size: 18px;
        color: red;
        top: 50%;
        transform: translateY(-50%);
        // width: 18px;
        // aspect-ratio: 1;
        // background: red;
        right: -22%;
        // border-radius: 50%;
      }
    }
  }
}
.accordion-body {
  height: 50dvh;
  overflow-y: scroll;
}
.policy-section {
  background: hsl(90, 100%, 85%);
  padding: 20px;
  margin: 20px 0px;
}
.custom-h4 {
  padding-left: 10px;
}

/* your-component.component.scss */

.containerg {
  width: min(991px, 80%);
  position: relative;

  .card-containerg {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      flex: 1 0 auto;
      margin: 10px;

      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .scroll-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    color: #4d9900;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }

  .tooltip {
    position: absolute;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.left {
      left: 1%;
    }

    &.right {
      right: 1%;
    }
  }
}

/* your-component.component.css */
.full-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.full-image-container {
  max-width: 90%;
  max-height: 90%;
}

.full-image {
  max-width: 100%;
  max-height: 100%;
}


/* your-component.component.css */
.overlay-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.download-button,
.close-button {
  background-color: #ffffff;
  color: #333333;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.download-button:hover,
.close-button:hover {
  background-color: #f0f0f0;
}


/* Media query for screens smaller than 768px */
@media screen and (max-width: 767px) {
  .containerg {
    width: min(991px, 100%);
  }
}

/* Media query for screens between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: min(991px, 100%);
    /* Styles for medium-sized screens */
  }
}

/* Media query for screens larger than 992px */
@media screen and (min-width: 992px) {
  .container {
    width: min(991px, 100%);
    /* Styles for larger screens */
  }
}

